
body{
  background-color: #F3F3F1;
}
.topbox{
  position:fixed;
  margin: 0;
  width: 100%;
  height: 28%;
  z-index: 8;
  background-color: #F3F3F1;
  padding: 0;
  top: 0;

}

.toptitle{
  position: fixed;
  top: 7%;
  right:6%;
  text-align: center;
  font-size: 13px;
  z-index: 10;



}
.ep{
  position: fixed;
  top: 28%;
  left: 3%;
  width: 20%;
  z-index: 13;
}
.ep a{
  font-weight: 60;
  font-size:0.75em;
  letter-spacing: 0.2em;
  float: left;
  margin-bottom:1.3em;
  text-decoration: none;
  color: black;

}
/* .vertical {
  border-left: 1px solid darkgrey;
  height: 22%;
  position:fixed;
  left: 1.5%;
  top: 5.8%;
  z-index: 13;
} */
.line{
  position: fixed;
  z-index: 15;
  top: 5%;
  left: 1.5%;

}
.line hr{
  color: darkgrey;
  width: 20em;
  height: 0.05em;
}
.intro{
  position: fixed;
  z-index: 13;
  top: 3.7%;
  left:25%;
  width: 15%;
  margin: 0;
}
.intro p{
  font-weight: 60;
  font-size:1em;
  letter-spacing: 0.28em;

  text-align:left;
}
#name{
  font-weight: 300;
  letter-spacing: 0.6em;
  padding-left: 0.6em;
  margin: 0;
}
#titlepicture{
  margin-bottom: 1em;
}


.content{
  background-color: #e0e5e1;
  width:75%;
  position: absolute;
  left: 25%;
  margin: 0;
  z-index: -1;
  top: 28%;
  padding-bottom: 250px;
}


.card {
  margin-top: 5%;
  position: relative;
  width: 60%;
  left: 20%;
  background: #ebebeb;
  box-shadow: -20px 0 35px -25px darkgrey, 20px 0 35px -25px darkgrey;
  z-index: 5;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 2.5%;
  height: 18em;


}

.card img {
  width: 40%;

  float: left;
  border-radius: 5px;
  margin-right: 5%;

}
#epdescribe{
  padding-right: 1em;

}
#epdescribe h1{
  font-weight: 200;
  font-size:1.05em;
  letter-spacing: 0.35em;
  margin: 0;
  margin-bottom: 2%;
  text-align: center;
}
#epdescribe p{
  font-weight: 60;
  font-size:0.95em;
  letter-spacing: 0.25em;
  padding-left: 0.6em;
  margin: 0;

}


.card span {
  font-family: courier;
}
.bottom{
  position:absolute;
  bottom: 1%;
  right: 20%;


}
.bottom p{
  margin: 0.5em;
  font-weight: 60;
  font-size:1em;
  letter-spacing: 0.2em;
}
.line2{
  position: absolute;
  z-index: 15;
  bottom: 1%;
  right: 1.5%;

}
.line2 hr{
  color: darkgrey;
  width: 12em;
  height: 0.05em;
}
